* {
  margin: 0;
  padding: 0;

}

.topnavbar {
  background-color: white;
  
  height: 0%;
  display: flex;
  justify-content: space-between;

}

.logo {
  
  display: inline-flex;
  width: 100px;
  height: 30px;
  object-fit: contain;
  margin: 0;
  float: left;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
.search-button{
  width: 30px;
  height: 30px;
  
  float: right;
 
}