* {
  margin: 0;
  padding: 0;

}
body{
  font-family: sans-serif;
}
nav {
  background-color: white;
  padding: 0.5%;
  height: 0%;
  display: flex;
  justify-content: space-around;
  margin-left:0.5%;
  margin-right:0.5%;
  margin-bottom: auto;
}

.iconify{
  font-size: 170%;
  justify-content: space-between;
  margin: 10px;
  }

.logo {  
  display: inline-flex;
  width: 100px;
  height: 30px;
  object-fit: contain;
  margin: 0;
  float: left;
  margin-top: 0.5%;
}

.search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: fit-content;
  margin-top: 0.5%;
}
.search-input{
  width: 600px;
  max-width: 400%;
  flex-direction: row;
  right:10%;
  height: 10%;
  
}
.search-button{
  width: 65px;
  height: 71%;
  border: 1px solid rgb(206, 198, 198);
  float: right; 
  flex-direction: row;
}

.user-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: space-between;
  margin: 10px;
}
.video-information{
  padding-left:8%;
  padding-right:7%;
  padding-top: 1.5%;
  margin-top: 0%;
  
  margin-left: 0%;
  
  display: flex;

}

.video{
  margin: 0px;
  height: 400px;
  width: 700px;
}
.hashtag{
  margin-top: 1%;
  color: rgb(20, 47, 197);
  font-family: roboto;
}
h5{
  font-family: roboto;
  font: medium;
  font-weight: 500;
}

h5 {
  font-family: roboto;
  font-weight: 700;
  font: bold;
  float: left;
}
.video-icons{
  float:right;
}
.save{
  border:none;
  float: left;
}
.icons{
  font-size: 65%;
  float: left;
}
.more{
  float: left;
}
.save-icon{
  border:none;
  margin-top:45%;
}
hr{
 width: 56px;
 height: 23px;
}


.suggest{
  display: grid;
  grid-template-rows: repeat(7,1fr);
  margin-left:2%;
}
.video-sug{
  display: flex;
  
}
.img-sug{
  width: 168px;
  height: 94px;
  
}
.text-sug{
  height: 94px;
  width: 226px;
}
.tittle-sug{
  font-size:80%;
  height: 32px;
  width: 202px;
}
.view-sug{
  height: 18px;
  
}