* {
  margin: 0;
  padding: 0;

}

nav {
  background-color: white;
  padding: 0.5%;
  height: 0%;
  display: flex;
  justify-content: space-around;
  margin-left:0.5%;
  margin-right:0.5%;
  margin-bottom: auto;
}
.iconify{
  font-size: 170%;
  justify-content: space-between;
  margin: 10px;
  }

.logo {  
  display: inline-flex;
  width: 100px;
  height: 30px;
  object-fit: contain;
  margin: 0;
  float: left;
  margin-top: 0.5%;
}

.search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: fit-content;
  margin-top: 0.5%;
}
.search-input{
  width: 600px;
  max-width: 400%;
  flex-direction: row;
  right:10%;
  height: 10%;
  
}
.search-button{
  width: 65px;
  height: 71%;
  border: 1px solid rgb(206, 198, 198);
  float: right; 
  flex-direction: row;
}

.user-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: space-between;
  margin: 10px;
}
.video-information{
  padding-left:7%;
  padding-right:7%;
  padding-top: 2%;
}

.video{
  margin: 0px;
  height: 315px;
  width: 560px;
}
.hashtag{
  margin-top: 1%;
  color: rgb(20, 47, 197);
}
.iconify{
  color:rgb(46, 44, 44);
}
  
  
}