* {
  margin: 0;
  padding: 0;

}
body{
  font-family: sans-serif;
}
nav {
  background-color: white;
  padding: 0.5%;
  height: 0%;
  display: flex;
  justify-content: space-around;
  margin-left:0.5%;
  margin-right:0.5%;
  margin-bottom: auto;
  
}

.iconify{
  width: 24px;
  height: 24px;
  justify-content: space-between;
  margin: 10px;
  }
 .fa-bars{
   margin: 1%;
   margin-right: 2%;
   
 }
.logo {  
  display: inline-flex;
  width: 80px;
  height: 30px;
  object-fit: contain;
  margin: 0;
  float: left;
  margin-top: 0.5%;
}

.search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: fit-content;
  margin-top: 0.5%;
  
}
.search-input{
  width: 600px;
  max-width: 400%;
  flex-direction: row;
  right:10%;
  height: 10%;
  border-right: none;
  height: 28px;
  box-shadow: none;
  
}
.search-button{
  width: 65px;
  height: 32px;
  border: 1px solid rgb(206, 198, 198);
  float: right; 
  flex-direction: row;
}

.user-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: space-between;
  margin: 10px;
}
.main-page{
  padding-left:8%;
  padding-right:7%;
  padding-top: 1.5%;
  margin-top: 0%;
  background-color:#f9f9f9;
  margin-left: 0%;
  justify-content: center;
  display: flex;

}
.video-information{
 display: flex;
 flex-direction: column;
}
.video{
  margin: 0px;
  height: 400px;
  width: 700px;
}
.hashtag{
  margin-top: 1%;
  color: #0668da;
  font-family: roboto;
}
h5{
  font-family: roboto;
  font: medium;
  font-weight: 500;
}

h5 {
  font-family: roboto;
  font-weight: 700;
  font: bold;
  float: left;
}
.video-icons{
  float:right;
}
.save{
  border:none;
  float: left;
}
.icons{
  font-size: 65%;
  float: left;
}
.more{
  float: left;
}
.save-icon{
  border:none;
  margin-top:45%;
}
.video-channel{
  display: flex;
  
}

hr{
  margin-bottom: 5%;
  color:rgb(255, 255, 255);
  font-size: xx-small;
}

.channel-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
.channel-info{
  margin-left: 3%;
  margin-right: 40%;
}
.subscribe{
  background-color:#cc0000;
  color:white;
  border-color: #cc0000;
  height: 37px;
  width: 117px;
  border-radius: 5%;
  margin-left: 40%;
}
.subscribers{
  color: rgb(83, 80, 80);
}
.authors{
  margin-top: 7%;
  margin-bottom: 7%;
}

.show-more{
  color: rgb(83, 80, 80);
}

.up-next{
  display: flex;
  
}
.autoplay{
  margin-left: 200px;
  margin-right: 3%;
}
.fa-toggle-on{
  color:blue
}

.next-sug{
  display: grid;
  grid-template-rows: repeat(9,1fr);
  margin-left:2%;
}
.hr-sug{
  height: 0px;
  margin-top: 2%;
  
}
.video-sug{
  display: flex;
  margin-top:3%;
  
  
}
.img-sug{
  width: 168px;
  height: 94px;
  
}
.text-sug{
  height: 94px;
  width: 226px;
}
.tittle-sug{
  font-size:80%;
  height: 32px;
  width: 202px;
  margin-left: 3%;
}
.view-sug{
  height: 18px;
  font-size: 60%;
  margin:1%;
  margin-left:3%;
  color:rgba(46, 45, 45, 0.849)
}

.hr2 {
  margin-top: 5%;
}
.commentaries{
  display: flex;
}

.first-line{
  display: flex;
  margin-bottom: 30px;
  }

.com-count{
  width: 240px;
  height: auto;  
}

.sort{
  display: flex;
}

.sort-icon{
  width: 3%;
  height: 70%;
  margin-right: 8px;
    
}

.sort-text{
  float: right;
  margin-right: 440px;
}

.com-avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: space-between; 
}

.comments{
  display: flex;
  flex-direction: row;
}
.com-avatar{
  margin-right: 10px;
}

.add-comment{
  margin-top: 15px;
  margin-bottom: 5%;
} 

.user-com{
  width: 500px;
  height: 20px;
}

.loading{
  display:flex;
  
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 3%;
}
.loading-icon{
  width: 20px;
  height: 20px;
  margin-top: 2%;
}
.text-loading{
  margin-top: 2%;
}